@use "../global";
@use "../utils/variables" as var;
@use "loading";
@use "backtop";

h1 {
    max-width: 561px;
    font-family: Poppins600;
    line-height: 64px;
    letter-spacing: -1.44px;
}
h3 {
    padding-top: 15px;
    font-family: Poppins500;
    line-height: 30px;
    letter-spacing: -0.72px;
}
.text {
    font-family: Poppins500;
    line-height: 30px;
}

.dark main {
    background-color: var.$dark-color;
    transition: 0.5s;
}
.dark label {
    color: var.$white-color;
}
.dark h3 {
    color: #fff;
}
.dark p {
    color: var.$white-color;
}
.dark h1 {
    color: #fff;
}
.dark input,
iframe,
textarea {
    box-shadow: 0 3px 5px 5px #fff;
}
.dark .nav-clone {
    background: #fff !important;
    padding: 12px 24px !important;
    text-shadow: 0 0 5px 5px #fff;
}

body {
    animation: changeColor 12s infinite alternate;
}

@keyframes changeColor {
    0% {
        background-color: #3498db;
    }
    25% {
        background-color: #dbdb34;
    }
    50% {
        background-color: #34db4d;
    }
    75% {
        background-color: #677bec;
    }
    100% {
        background-color: #e16a5c;
    }
}

@media (max-width: 850px) {
    .contact__letf__title {
        font-size: 32px;
    }
     h1{
        font-size: 36px !important;
        line-height: 54px; 
    }
    .contact__right {
        width: 100%;
        flex-direction: column;
    }
    .contact__left {
        width: 100%;
        flex-direction: column;
    }
    .contact__right__info {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .contact__wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 300px) {
    .contact__letf__title {
        width: 100%;
        font-size: 16px;
        font-family: Poppins600;
        line-height: 24px;
    }
    .contact__right {
        width: 100%;
        flex-direction: column;
    }
    .contact__left {
        width: 100%;
        flex-direction: column;
    }
    .contact__right__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    form button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 14px 28px !important;
    }
    form {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    input {
        width: 100%;
    }
}
